@import url('https://fonts.googleapis.com/css2?family=Doto:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    box-sizing: border-box;
    font-family: monospace;
}

:root {
    --max-section-width: 1600px;
    --min-section-height: 576px;
}

html,
body {
    width: 100%;
    height: 100%;
}

h2 {
    font-family: 'Doto', monospace;
    font-weight: 700;
}

h3 {
    font-family: 'Doto', monospace;
    font-weight: 900;
}

textarea {
    resize: none;
}

button {
    padding: 0.7em 1em;
    background-color: transparent;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

button:active {
    transform: scale(0.9);
}

a {
    color: black;
    text-decoration: none;
}